<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net472" />
  <package id="EO.WebBrowser" version="20.1.31" targetFramework="net472" />
  <package id="EO.WebBrowser.WinForm" version="20.1.31" targetFramework="net472" />
  <package id="Leaf.xNet" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net472" />
</packages>